#! /bin/sh

# reload when these files change
watch_file devshell/flake.nix
watch_file devshell/flake.lock

{
  # shell gc root dir
  mkdir -p "$(direnv_layout_dir)"
  eval "$(nix print-dev-env ./devshell\#default --no-update-lock-file --no-write-lock-file --profile $(direnv_layout_dir)/flake-profile)"
}
